#include ".Xresources.dracula"

! Rofi
rofi.lines: 10
rofi.color-window: #44475a, #f1fa8c, #f1fa8c
rofi.color-normal: #44475a, #8BE9FD, #44475a, #44475a, #FF7AC6
rofi.color-active: #f1fa8c, #44475a, #8BE9FD, #44475a, #FF7AC6
rofi.color-urgent: #f1fa8c, #44475a, #8BE9FD, #44475a, #FF7AC6
rofi.font: Dejavu Sans Mono for Powerline 18

URxvt.intensityStyles: false

URxvt.perl-ext-common: default,clipboard,matcher,resize-font

! matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5

! clipboard
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped

! resize-font
URxvt.resize-font.smaller: C-Down
URxvt.resize-font.bigger: C-Up

URxvt.saveLines: 10000
URxvt.scrollBar: false
URxvt.font: xft:Dejavu\ Sans\ Mono\ for\ Powerline:pixelsize=16
URxvt.boldFont: xft:Dejavu\ Sans\ Mono\ for\ Powerline:style=Bold:pixelsize=16
URxvt.cursorBlink: true
URxvt.loginShell: true

!URxvt.transparent: true
!URxvt.shading: 20

URxvt.letterSpace: -1

Xft.dpi:        96
Xft.antialias:  true
Xft.hinting:    true
Xft.rgba:       rgb
Xft.hintstyle:  hintslight
